-server
-Xmx16G
-XX:+UseG1GC
-XX:G1HeapRegionSize=32M
-XX:+UseGCOverheadLimit
-XX:+ExplicitGCInvokesConcurrent
-XX:+HeapDumpOnOutOfMemoryError
-XX:OnOutOfMemoryError=kill -9 %p
-ea
-Djdk.attach.allowAttachSelf=true
-XX:+ExitOnOutOfMemoryError
-Duser.timezone=America/Bahia_Banderas
-Dguice_require_explicit_bindings=false
-Dhive.security=legacy
--add-opens
java.base/java.net=ALL-UNNAMED
-Djava.rmi.server.hostname=127.0.0.1
